@import "variable/variable";
@import "element/element";
@import "page/page";
@import "page/sheet-stats";
@import "page/pwa";
@import "page/import-console";
@import "modal/modal";

.preview-photo {
  z-index: 2100 !important;
}

.favorite-photo {
  border: 5px solid #0d8aff;
}

// Pico fix
:where(:root) {
  background: none;
}
